.languagepicker-wrap {
	position: relative;
	width: 90px;
	height: 40px;    

}
.languagepicker {
	border: 1px solid #928a8a;
    display: inline-block;
    padding: 0;
    height: 40px;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $lavender;
	&:hover {
		background: lighten($color: $lavender, $amount: 5)
	}
}

.languagepicker:hover {
	li {
		background: lighten($color: $lavender, $amount: 5)
	}
}

.languagepicker a{
	color: white;
	text-decoration: none;

}

.languagepicker li {
	cursor:pointer;
	display: block;
	background: $lavender;
	
}



.languagepicker a:first-child li {
	border: none;
}

.languagepicker li img {
	margin-right: 5px;
	width: 20px;
}

.roundborders {
	border-radius: 5px;
}

.large:hover {
	/* 
	don't forget the 1px border!
	The first language is 40px heigh, 
	the others are 41px
	*/
	height: 245px;
}