@import 'fonts';
@import './components/colors';

body {
  color: $lightGrey;
  background: #f5f5f5;
  font-family: 'TTNorms-Regular';
  font-weight: 300;
  line-height: 1.6;
  font-size: 16px;
  display: block;
}

.main {
  overflow: hidden;
}
img {
  pointer-events: none;
}
@import 'imageEffects';
@import 'components/slider';
@import 'pages/contact';
@import 'pages/home';
@import 'pages/lavender-oil';
@import 'components/buttons';
@import 'components/navigation';
@import 'components/languages';
@import 'components/message-form';


