@font-face {
    font-family: 'TTNorms-Bold';
    src: url('fonts/TTNorms-Bold.otf') format('opentype')
  }
@font-face {
    font-family: 'TTNorms-Regular';
    src: url('fonts/TTNorms-Regular.otf') format('opentype')
}
@font-face {
    font-family: 'TTNorms-Thin';
    src: url('fonts/TTNorms-Thin.otf') format('opentype')
}
@font-face {
    font-family: 'TTNorms-Medium';
    src: url('fonts/TTNorms-Medium.otf') format('opentype')
}
@font-face {
    font-family: 'TTNorms-Light';
    src: url('fonts/TTNorms-Light.otf') format('opentype')
}
@font-face {
    font-family: 'TTNorms-Italic';
    src: url('fonts/TTNorms-Italic.otf') format('opentype')
}
@font-face {
    font-family: 'TTNorms-MediumItalic';
    src: url('fonts/TTNorms-MediumItalic.otf') format('opentype')
}
